<div class="d-flex justify-content-between align-items-center">
  <h1>Documents</h1>
  <%= link_to 'New document', new_document_path, class: "btn btn-primary ml-auto" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Owner</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @documents.each do |document| %>
    <tr>
      <th scope="row"><%= document.title %></th>
      <th scope="row"><%= document.user.email %></th>
      <th scope="row">
        <% if DocumentPolicy.new(current_user, document).update_permissions? %>
          <%= link_to 'Permissions', document_permissions_path(document), class: "btn btn-link" %>
        <% end %>

        <% if DocumentPolicy.new(current_user, document).show? %>
          <%= link_to 'Show', document_path(document), class: "btn btn-link" %>
        <% end %>

        <% if DocumentPolicy.new(current_user, document).update? %>
          <%= link_to 'Edit', edit_document_path(document), class: "btn btn-link" %>
        <% end %>

        <% if DocumentPolicy.new(current_user, document).destroy? %>
          <%= link_to 'Destroy', document_path(document), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        <% end %>
      </th>
    </tr>
  <% end %>
  </tbody>
</table>
