<div class="d-flex justify-content-between align-items-center">
  <h1>Documents</h1>
  <%= link_to 'New document', new_document_path, class: "btn btn-primary ml-auto" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @documents.each do |document| %>
    <tr>
      <th scope="row"><%= document.title %></th>
      <td>
        <%= link_to 'Show', document_path(document), class: "btn btn-link" %>
        <%= link_to 'Edit', edit_document_path(document), class: "btn btn-link" %>
        <%= link_to 'Destroy', document_path(document), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
